%h1 New problems

= error_messages_for :problems 

- form_for(@problem) do |f| 
  %p
    %b Name
    %br
    = f.text_field :name 
  %p
    %b Description
    %br
    = f.text_area :description 
  %p
    %b Problem set
    %br
    = f.text_field :problem_set_id 

  %p
    = f.submit "Create"
    
= link_to 'Back', problems_path 